html {
    font-family: "Verdana", sans-serif;
    font-size: 16px;
        
  }
  * {
    box-sizing: border-box;
    
  }
  body {
      background-color: black;
  }
header {
    font-size: 50px;
    color: white;
    text-align: center;
}
a {
    color: aquamarine;
    text-decoration: underline;
}
